/* CSS style sheet main */
html {
  height: 100%;
}


body {
    
    background-color:#ffffff;
    background-image: url("../Images/maria1.jpg");
    background-position: top;
    background-position-x: left;
    background-size: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
  background-color:#070707;
}

.navbar-nav {
  font-family: 'Kodchasan', sans-serif;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 100px;

}

.navbar-brand {
  position: relative;
  margin-left: 10%;
  padding: 10px;
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  color: white;
}


.card {
    border: 1px solid black;
    border-radius: 10px 0px 10px 0px;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  color: #a5117d;
}

h2 {
  font-family: 'Kodchasan', sans-serif;
  color: white;
  text-align: left;
  text-shadow: #000 2px 2px;
}

h5 {
    text-align: left;
    font-family: 'Kaushan Script', cursive;
}

hr {
    border: 1px solid white;
}

p { 
    padding-top: 20px;
    font-family: 'Kodchasan', sans-serif;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
  text-decoration: none;
}

.btn-warning {
  background-color: #a5117d;
  color: #ffffff;
  border: 1px solid black;
}

.container {
  
  padding-top: 100px;
  opacity: 0.8;
  z-index: -1;
}


.jumbotron {
    
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px 0px 10px 0px;
  font-family: 'Kodchasan', sans-serif;
}

footer {
  clear: both;
  position: relative;
  height: 100px;
  margin-top: -40px;
}




.btn {
    
    background-color: #a5117d;
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  



.contacts {
    position: relative;
    width: 100%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 14px;
    color: white;
    overflow: auto;
}
#contacts {
    overflow: auto;
    padding: 20px 30px 10px 30px;
    background-image: linear-gradient(to right,#0b0b0b , #a5117d);
    border: 1px solid white;
    border-radius: 10px 0px 10px 0px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
  }

textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

label {
  color: #ffffff;
}





  .footer {
    margin-top: 50px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: #0b0b0b;
    opacity: 0.8;
   
  }

  .copyright {
   margin: auto;
   padding-top: 50px;
   font-family: 'Kodchasan', sans-serif;
   font-size: 15px;
   color: #ffffff;

  }
  .social {
    font-size: 30px;
    align-content: center;
    margin-left:auto;
    text-decoration: none;
  }
  .fab {
    padding: 0px 8px;
    text-decoration: none;
  }



  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    }
  
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    }
  
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
    }
  
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
    }