/* CSS style sheet main */

body {
    /*background-color: linear-gradient(to right,#0b0b0b , #a5117d);*/
    background-color:#070707;
    background-image: url("../Images/maria1.jpg");
    background-position: top;
    background-position-x: left;
    background-size: 800px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#name {
  position: relative;
  margin-left: 400px;
  margin-top: 50px;
  font-family: 'Kaushan Script', cursive;
  font-size: 36px;
  color: white;
}

h1 {
  font-family: 'Kodchasan', sans-serif;
  color: white;
  font-size: 3vw;
}

h2 {
    font-family: 'Kodchasan', sans-serif;
    color: white;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.5vw;
}

h5 {
    text-align: left;
    font-size: 1.3vw;
}

hr {
    border: 1px solid white;
}

img {
  padding: 5px;
  z-index: 2;
}


p { 
    padding-top: 20px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 0.9vw;
}

footer {
  clear: both;
  position: relative;
  height: 100px;
  margin-top: -40px;
}

.name {
    font-family: 'Titillium Web', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Kaushan Script', cursive;
    font-size: 36px;
    color: white;
    
   
}

#nav {
    float: left;
    position: relative;
    margin-left: 60%;
    margin-top: -45px; 
    font-size: 1vw;
}

.nav-link {
    color:white;
}

.main {
    position: relative;
    margin-top:150px;
    margin-left: 610px;
    margin-right: 400px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 14px;
    color: white;
}

.box {
    float:left;
    position:relative;
    padding: 10px;

}

.image {
    position: absolute;
    z-index: 1;
   
}

.audio {
    position: relative;
    float: left;
    z-index: 1;
    overflow: auto;
}

.singlesong {
    position: relative;
    margin-top: 20px;
    margin-left: 250px;
    float: left;
    z-index: 1;
}


#image1 {
    opacity: 1;
    display: block;
    width: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
    max-width:100%;
    height:auto;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .box:hover #image1 {
    opacity: 0.3;
  }
  
  .box:hover .middle {
    opacity: 1;
  }

  .box-text1 {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px; 
  }
  
.jumbotron {
    position: relative;
    float: left;
    background-image: linear-gradient(to right,#0b0b0b , #a5117d);
    border: 1px solid white;
    border-radius: 10px 0px 10px 0px;
    font-family: 'Kodchasan', sans-serif;
    font-size: 1vw;
  }

.lead {
  font-family: 'Kodchasan', sans-serif;
  font-size: 1.5vw;
  }

.events {
    
    position: relative;
    float: left;
    width: 100%;   
    overflow: auto;
   
}
.mr-3 {
    width: 250px;
    height: 250px;
    max-width:250px;
    
}

.records {
  position: relative;
  border: 1px solid white;
  border-radius: 10px 0px 10px 0px;   
  width: 100%;
}

.media {
    position: relative;
    border: 1px solid white;
       
}

.media-body {
  position: relative;
  padding: 10px 5px 0px 0px;
  overflow: auto;

}

#tickets {
    position: absolute;
    float: left;
    margin-left: 260px;
    margin-top: 190px;
}

.button {
    position: relative;
    float: left;
    background-color: grey;
    border: none;
    color: white;
    padding: 10px 45px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.4;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .button:hover {opacity: 5}

.my-4 {
    background-image: linear-gradient(to right,#0b0b0b , #0b0b0b,#a5117d);
    border-radius: 5px;
    border-radius: 10px 0px 10px 0px;
}

.contacts {
    position: relative;
    float: left;
    width: 100%;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 14px;
    color: white;
    overflow: auto;
}
#contacts {
    overflow: auto;
    padding: 20px 30px 10px 30px;
    background-image: linear-gradient(to right,#0b0b0b , #a5117d);
    border: 1px solid white;
    border-radius: 10px 0px 10px 0px;
}

input[type=text] {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
  }

textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
}


/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 30%;
    left: 97%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: rgb(45, 46, 46);
    color: white;
    border-radius: 5px;
  }
  
  .twitter {
    background: rgb(45, 46, 46);
    color: white;
    border-radius: 5px;
  }
  
  .google {
    background: rgb(45, 46, 46);
    color: white;
    border-radius: 5px;
  }
  
  .linkedin {
    background: rgb(45, 46, 46);
    color: white;
    border-radius: 5px;
  }
  
  .youtube {
    background: rgb(45, 46, 46);
    color: white;
    border-radius: 5px;
  }

  #footer {
    position: absolute;
    color: white;
    margin-left: 210px;
    
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 10px;
    text-align: center;
   
  }